.super-mario {
    width: 80px;
    position: absolute;
    z-index: 1;
    left: 260px;
  }
  
  .goomba {
    width: 35px;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 250px;
  }
  
  .baloon {
    width: 150px;
    z-index: 3;
    position: absolute;
    left: 343px;
    top: 50px;
  
  }
  
  .speach {
    font-size: 13px;
    position: absolute;
    z-index: 4;
    left: 350px;
    top: 70px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 500px;
  }